# Ignore lock files
*.lockb

client_secret.json

/yt-auth

/src/videos
/src/pictures
!/src/pictures/.gitkeep
!/src/videos/.gitkeep

# Ignore build directories
/build

# Ignore log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Ignore Node.js modules
node_modules/

# Ignore distribution directories
dist/
dist-ssr/
.out

# Ignore editor files and directories
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Ignore runtime data
pids/
*.pid
*.seed
*.pid.lock

# Ignore instrumented libs
lib-cov/

# Ignore coverage reports
coverage/
*.lcov

# Ignore nyc test coverage
.nyc_output/

# Ignore Grunt intermediate storage
.grunt/

# Ignore Bower dependency directory
bower_components/

# Ignore node-waf configuration
.lock-wscript

# Ignore compiled binary addons
build/Release/

# Ignore jspm packages
jspm_packages/

# Ignore Snowpack dependency directory
web_modules/

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore npm cache directory
.npm/

# Ignore eslint cache
.eslintcache/

# Ignore stylelint cache
.stylelintcache/

# Ignore Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Ignore REPL history
.node_repl_history

# Ignore npm pack output
*.tgz

# Ignore Yarn Integrity file
.yarn-integrity

# Ignore dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Ignore parcel-bundler cache
.cache/
.parcel-cache/

# Ignore Next.js build output
.next/
out/

# Ignore Nuxt.js build/generate output
.nuxt/
.dist/

# Ignore Gatsby files
.cache/

# Ignore vuepress build output
.vuepress/dist

# Ignore vuepress v2.x temp and cache directory
.temp/
.cache/

# Ignore Docusaurus cache and generated files
.docusaurus/

# Ignore Serverless directories
.serverless/

# Ignore FuseBox cache
.fusebox/

# Ignore DynamoDB Local files
.dynamodb/

# Ignore TernJS port file
.tern-port

# Ignore VSCode versions used for testing VSCode extensions
.vscode-test/

# Ignore yarn v2 files
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
