<!-- Header -->
<div id="header">    
    <h1>{{ title }}</h1> 
</div>

    <!-- Main Content -->
    <div id="main-content">
        <h3>Step 1: Select a video</h3>
        {{#if displayMessage }}
        <div id="message">
            <p> {{ displayMessage }} </p>
        </div>
        {{ else }}
            <p> File must be a video with extension type .mp4, .mov, .avi or .mkv.</p>
        {{/if}}

        <!-- Upload file -->
    <div id="import-file-container">  
        <form method="POST" action="/uploadFile" enctype="multipart/form-data">
        <input type="file" name="video" id="upload-file"/>
       
    </div>

    <!-- Choose resolution from options menu -->
    <p></p> 
    <h3>Step 2: Choose resolution to encode</h3>
     <div id="options-container">
        <select name="resolution" id="res">
            <option value="None" selected="selected">Resolution</option>
            <option value="426x240">426x240</option>
            <option value="640x360">640x360</option>
            <option value="854x480">854x480</option>
            <option value="1280x720">1280x720</option>
            <option value="1920x1080">1920x1080</option>
            <option value="2560x1440">2560x1440</option>
            <option value="3840x2160">3840x2160</option>
        </select>

                <!-- Submit file for upload -->
        <input type="submit" value="Upload Video" />     
        </form>
   
    </div>

    </div>
    <p></p>

    <script src="/typescripts/upload.js"></script>
 </div>
